body{
    font-family: 'Rubik', sans-serif;
}




.background{
    height: 100vh;
    width: 100vw;
    background-color: #C9FFC5;
}


.bordagem {
    border-radius: 50px;
    height: 350px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    min-width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;

}
.boxhome {
  width: 120%;
  height: 150%;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50px;
  z-index: 1000;
}
/* .badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
} */

.progress {
    height: 10px;
    border-radius: 10px
}



.minimo{
    min-width: 150px;
}

.borda{
    border: 3px solid red;
}

/* img{
    width: 25%;
    /* height: auto;
    margin-bottom: 25px; */








