body{
    font-family: 'Rubik', sans-serif;
}




.background{
    min-height: 100vh;
    background-color: #FDEF74;
}


.card {
    border: none;
    border-radius: 50px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    min-width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;

}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}



img{
    width: 530px;
    height: auto;
    margin-bottom: 25px;
}







