body {
  background-color: #eee
}

.time {
  font-size: 9px !important
}

.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer
}

.feed-image img {
  width: 100%;
  height: auto
}

.b-0{
  border: 0px !important;
  background-color: #F6F5F5;
}

input::placeholder{
  text-align: center;
}


