<div class="bgcinzaclaro fsRubik">
  <div class=" d-flex justify-content-center mb-5">
    <div class="d-flex flex-row justify-content-center align-items-center w-25  my-4 p-2 bgbrancofeed rounded-pill">
      <input [(ngModel)]='temaProduto' (keyup)='findByTemaProduto()' type="text" class="form-control b-0 "
        id="temaProduto" name="temaProduto" placeholder="Pesquise um tipo de trabalho">
    </div>
  </div>

  <!-- fonfonfon -->
  <div class="d-flex justify-content-center">
    <div class="col-md-8 ">
      <div class="feed p-2">
        <div *ngIf='this.empre == "empregador" || this.empre == "adm"'>
          <div class="d-flex flex-row justify-content-center align-items-center my-4  bgverdeclaro rounded-pill">
            <button class="btn mr-2 font-weight-bold" data-toggle="modal" data-target="#novaPostagem">Publicar nova
              Vaga</button>
          </div>
        </div>
        <div *ngIf='this.empre == "candidato" '>
          <div class="d-flex flex-row justify-content-center align-items-center my-4  bgsalmao rounded-pill">
            <button class="btn mr-2 font-weight-bold" data-toggle="modal"
              data-target="#promove">Promova-se</button>
          </div>
        </div>

        <div class="bg-white  mt-2 rounded-lg bgbrancofeed "
          *ngFor='let item of listaProduto | orderBy : key : reverse'>


          <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2">
              <img class="rounded-circle" src="{{item.usuario.foto}}" width="45">
              <div class="d-flex flex-column flex-wrap ml-2">
                <span class="font-weight-bold fs25">{{item.usuario.nomeusuario}}</span>
                <small class="text-black-50 time"> {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                  'HH:mm'}}</small>
              </div>
            </div>
            <div class="feed-icon px-2 social-action dropdown pull-right"
              *ngIf=' item.usuario.id == idUsuario || this.empre == "adm"'>
              <button data-toggle="dropdown" class=" btn bgroxoclaro btn-lg  ">
                <i class="fa fa-ellipsis-v text-black-50"></i>
              </button>
              <ul class="dropdown-menu m-t-xs font-weight-bold">
                <li><a [routerLink]="['/produto-edit',item.id]" class="verdeclaro " href="">Editar</a></li>
                <li><a [routerLink]="['/produto-delete',item.id]" class="salmao" href="">Apagar</a></li>

              </ul>
            </div>

          </div>
          <div class="d-flex justify-content-center" *ngIf='this.item.usuario.empregador == "empregador" || this.item.usuario.empregador == "adm"'>
            <div class="feed-image p-2 px-3">
              <img class="img-fluid img-responsive" height="30%" src="{{item.imagem}}">
            </div>
            <div class="d-flex flex-row align-items-center feed-text px-2">
              <div class="d-flex justify-content-center flex-column flex-wrapd-flex flex-row align-items-center ml-2">
                <h6 class="card-title">Categoria: {{item.categoria.tipotrabalho}}</h6>
                <p class="card-text fsRubik">Experiencia: {{item.experiencia}}</p>
                <p class="card-text fsRubik">Especificação: {{item.especificacao}}</p>
                <p class="card-text bgverdeescuro rounded-lg p-1 rounded-pill">Valor: {{item.valor | currency: 'BRL'}}
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center " *ngIf='this.item.usuario.empregador == "candidato" '>
            <div class="feed-image p-2 px-3">
              <img class="img-fluid img-responsive" height="30%" src="{{item.imagem}}">
            </div>
            <div class="d-flex flex-row align-items-center feed-text px-2">
              <div class="d-flex justify-content-center flex-column flex-wrapd-flex flex-row align-items-center ml-2">
                <h6 class="card-title">Categoria: {{item.categoria.tipotrabalho}}</h6>
                <p class="card-text fsRubik">Preferência de trabalho: {{item.experiencia}}</p>
                <p class="card-text fsRubik">Sobre : {{item.especificacao}}</p>
                <p class="card-text bgsalmao rounded-lg p-1 rounded-pill">Pretenção salarial mínima: {{item.valor |
                  currency: 'BRL'}}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end socials p-2 py-3">
            <i class="fa fa-heart-o"></i>
            <a class="fa fa-plus pr-3" [routerLink]="['/produto',item.id]"> ver mais </a>
            <i class="fa fa-share"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<!-- Inicio da Modal Nova postagem -->
<div class="modal fade font-weight-bold " id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered roxoclaro" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="TituloModalCentralizado">Nova Vaga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Vaga</label>
          <input [(ngModel)]='produto.tema' type="text" class="form-control" name="tema" id="tema"
            placeholder="Digite o nome da vaga">
        </div>
        <div class="form-group">
          <label for="titulo">Preferência de experiência</label>
          <input [(ngModel)]='produto.experiencia' type="text" class="form-control" name="experiencia" id="experiencia"
            placeholder="Digite a experiencia ">
        </div>
        <div class="form-group">
          <label for="titulo">Valor</label>
          <input [(ngModel)]='produto.valor' type="number" class="form-control" name="valor" id="valor"
            placeholder="Digite o valor">
        </div>

        <div class="form-group">
          <label for="texto">Descrição da vaga</label>
          <textarea [(ngModel)]='produto.especificacao' class="form-control" name="texto" id="texto"
            rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="categoria">Escolha uma categoria ou <a class="rosamagenta" routerLink='/categoria' data-dismiss="modal">Cadastre
              uma Nova</a></label>

          <select class="form-control" name="categoria" id="categoria" [(ngModel)]='idCategoria'
            (change)='findByIdCategoria'>
            <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.tipotrabalho}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bgsalmao font-weight-bold " data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn bgverdeclaro font-weight-bold" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="promove" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true" >

  <!-- modal diferente para o candidato  -->
  <div class="modal-dialog modal-dialog-centered font-weight-bold roxoescuro" role="document" >
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title font-weight-bold" id="TituloModalCentralizado">Promova-se</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Seu Nome:</label>
          <input [(ngModel)]='produto.tema' type="text" class="form-control" name="tema2" id="tema2"
            placeholder="Digite o nome da vaga">
        </div>
        <div class="form-group">
          <label for="titulo">Preferência de trabalho</label>
          <input [(ngModel)]='produto.experiencia' type="text" class="form-control" name="experiencia" id="experiencia2"
            placeholder="Digite a prefereencia">
        </div>
        <div class="form-group">
          <label for="titulo">Pretenção salarial mínima</label>
          <input [(ngModel)]='produto.valor' type="number" class="form-control" name="valor2" id="valor2"
            placeholder="Digite o valor">
        </div>

        <div class="form-group">
          <label for="texto">Fale sobre você e qual melhor forma de entrar em contato.</label>
          <textarea [(ngModel)]='produto.especificacao' class="form-control" name="texto" id="texto2"
            rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="categoria">Escolha uma categoria ou <a class="rosamagenta" routerLink='/categoria' data-dismiss="modal">Cadastre
              uma Nova</a></label>

          <select class="form-control" name="categoria" id="categoria" [(ngModel)]='idCategoria'
            (change)='findByIdCategoria'>
            <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.tipotrabalho}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bgsalmao  font-weight-bold" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn bgverdeclaro font-weight-bold" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
<!--Fim da Modal-->
