body {
  padding: 0%;
  margin: 0%;
}

small {
  cursor: pointer;
  color: #700a94;
}

.formulario {
  margin: 3% 20%;
  padding: 5%;
  border-radius: 50px;
  background-color: #fff;
}
/* A borda é usada apenas para testes de divs do código */
/* .borda{
  border: 3px solid red;
} */

.btntipouser {
  padding: 10px 2px;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
}


.background {
  height: 100%;
  width: 100%;
  background-color: #fdef74;

}

.fa-briefcase {
  font-size: 26pt;
  padding: 4px 3px;
  color: #f91a6a;

  border: 0.35rem solid #700a94;
  border-radius: 5px !important;
}
.fa-briefcase:hover {
  background: none;
  color: #ff74e3;
  border: 0.35rem solid #6f0a9480;
  border-radius: 5px !important;
}

.fa-code {
  font-size: 24pt;
  padding: 4px 0px;
  color: #f91a6a;
  border: 0.35rem solid #700a94;
  border-radius: 5px !important;
}
.fa-code:hover {
  background: none;
  color: #ff74e3;
  border: 0.35rem solid #6f0a9480;
  border-radius: 5px !important;
}

.wavebottom {
  position: absolute;
  left: 0;
  bottom: -33vh;
  right: 0;
  background-color: #fdef74;
}
<<<<<<< HEAD
=======

>>>>>>> a4eedf8455230f356a71d7464fb9533f43125048

.textinho {
  font-size: 0.7em;
}

/* esconder o radio de forma responsiva */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* p pegar clique no icon*/
[type="radio"] + i {
  cursor: pointer;
}

/* Pós clique*/
[type="radio"]:checked + i {
  background-color: #700a94;
  
  
}

.bolha-cadastro {
  background-image: url(../../assets/imgs/cadastrar/blob.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
