<div class="container-fluid background">

  <div class="row borda">
    <div class="col-md-6 borda">
      <div class="formulario borda">

        <h4 class="text-center roxoclaro">Cadastro</h4>

        <!-- Botão tipo de usuario -->
        <div class="row borda">
          <label class="roxoescuro text-center" for="tipoUsuario">Sou:</label>
        </div>
        <div class="row d-flex borda self-align-center justify-content-around">

          <!-- Empregador -->
          <div class="col-3 borda">

            <label class="btntipouser" for="empregador">
              <input type="radio" id='empregador' name="tipoUsuario" value="empregador" (change)='tipoUser($event)'>
              <i class="fas fa-briefcase"></i>
            </label>
            <label class="contorno-tipouser" id="empregador" for="empregador"><small
                class="textinho">Empregador</small></label>

          </div>
          <!-- Candidato -->
          <div class="col-3 d-flex flex-column align-itens-center borda">

            <label class="btntipouser" for="candidato">
              <input type="radio" id='candidato' name="tipoUsuario" value="candidato" class=""
                (change)='tipoUser($event)'>
              <i class="fas fa-code"></i>
            </label>

            <label id="candidato" class="contorno-tipouser" for="candidato"><small
                class="textinho">Candidato</small></label>
          </div>
        </div>

        <div class="form-group-sm ">
          <label class="" for="nomeusuario">Digite seu nome:</label>
          <input [(ngModel)]='usuario.nomeusuario' class="form-control input my-1" type="text" name="nomeusuario"
            id="nomeusuario" placeholder="Digite seu nome.">
        </div>

        <div class="form-group-sm">
          <label class="" for="DataNascimento">Data de nascimento:</label>
          <input [(ngModel)]='usuario.datanascimento' class="form-control input my-1" type="date" name="dataNasc"
            id="dataNasc" placeholder="Digite seu usuário.">
        </div>

        <div class="form-group-sm">
          <label class="" for="genero">Pronomes (opcional):</label>
          <input [(ngModel)]='usuario.genero' class="form-control input" type="text" name="genero" id="genero"
            placeholder="Digite seus pronomes">
        </div>

        <!--NÃO ESQUECER DE COLOCAR O CAMPO IMAGEM COM O JPG PADRÃO NO INPUT-->
        <div class="form-group-sm">
          <label class="" for="confirmSenha">Foto de perfil:</label>
          <input [(ngModel)]='usuario.foto' class="form-control input" type="text" name="foto" id="foto"
            placeholder="Link da sua foto de perfil">
        </div>

        <div class="form-group-sm">
          <label class="" for="email">Email</label>
          <div class="input-group-text">
            <i class="fas fa-at roxoescuro"></i>
            <div class="input-group-text ghost transparence"></div>
            <input class="form-control input my-1 self-align-center " type="email" name="Email" id="Email"
              placeholder="Digite seu email">
          </div>

        </div>

        <div class="form-group-sm">
          <label class="" for="confirmSenha">Confirme seu Email:</label>
          <div class="input-group-text">
            <i class="fas fa-at roxoescuro"></i>
          <input [(ngModel)]='usuario.email' class="form-control input" type="email" name="confirmEmail"
            id="confirmEmail" placeholder="Confirme seu email.">
            </div>
        </div>

        <div class="form-group-sm">
          <label class="" for="usuario">Senha:</label>
          <div class="input-group-text">
            <i class="fas fa-key roxoescuro"></i>
          <input (input)='confirmSenha($event)' class="form-control input" type="password" name="senha" id="senha"
            placeholder="Digite sua senha.">
            </div>
        </div>

        <div class="form-group-sm">
          <label class="" for="confirmSenha">Confirme sua senha:</label>
          <div class="input-group-text">
            <i class="fas fa-key roxoescuro"></i>
            <input [(ngModel)]='usuario.senha' class="form-control input" type="password" name="confirmSenha"
              id="confirmSenha" placeholder="Confirme sua senha.">
          </div>
        </div>

        <button class="btn btncancel me-4" routerLink='/entrar'>Cancelar</button>
        <button type="submit" class="btn btnsucess" (click)='cadastrar()'>Cadastrar</button>
      </div>

    </div>

    <div class="row borda">
      <div class="col-md-6">
        <div class="align-itens-center d-flex flex-column">
          <!-- Imagens -->
          <div class="bolha-cadastro imgsize">
            <img class="imgsize" src="../../assets/imgs/cadastrar/Programmer-cuate-1.png"
              alt="Programador negro, vestido de rosa com cabelo cacheado de frente ao computador codando">
          </div>
        </div>

      </div>
    </div>

  </div>
