body {
  padding: 0%;
  margin: 0%;
}
small{
  cursor: pointer;
  color: #700A94;
}

.formulario{
  margin: 3% 10%;
  padding: 4% 10%;
  border-radius: 50px;
  background-color: #fff;
}

/* .borda{
  border: 3px solid red;
} */

.btntipouser {
    border: 0.25rem solid #700A94;
    padding:10px 2px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
   justify-content: center;
}

.btntipouser:hover{
  background: transparent;
  border: 0.25rem solid #c677da;
}


.background {
  height: 100%;
  width: 100%;
  background-color: #FDEF74;
}

.fa-briefcase{
  font-size: 26pt;
  padding: 1px 3px;
  color: #F91A6A;
}
.fa-briefcase:hover{
    background: none;
    color: #FF74E3;

}

.fa-code{
  font-size: 24pt;
  padding: 2px 0;
  color: #F91A6A;
}
.fa-code:hover{
    background: none;
    color: #FF74E3;

}
.wavebottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wavebottom2 {
  position: absolute;
  bottom: -22vw;
  left: 0;
}
.wavetop {
  position: absolute;
  top: 0;
  left: 0;
}



.imgsize {
  width: 500px;
  height: auto;
}



.textinho {
  font-size: 0.70em;
}


/* esconder o radio de forma responsiva */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* p pegar clique no icon*/
[type=radio] + i {
  cursor: pointer;
}

/* Pós clique*/
[type=radio]:checked + i {
  background-color: #700A94;
  outline:  0.6rem solid #700A94  ;


}


.bolha-cadastro{
  background-image: url(../../assets/imgs/cadastrar/blob.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 
}