<p>cadastrar works!</p>
<h1>Cadastro</h1>



<div class="form-group">
    <label for="nome">Nome:</label>
    <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome.">
</div>

<div class="form-group">
    <label for="usuario">Usuário:</label>
    <input class="form-control" type="text" name="usuario" id="usuario"
        placeholder="Digite seu usuário.">
</div>

<div class="form-group">
    <label for="usuario">Senha:</label>
    <input class="form-control" type="text" name="usuario" id="usuario"
        placeholder="Digite seu usuário.">
</div>

<div class="form-group">
    <label for="confirmSenha">Confirme sua senha:</label>
    <input class="form-control" type="text" name="confirmSenha" id="confirmSenha"
        placeholder="Confirme sua senha.">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="Email" id="Email"
        placeholder="Digite seu email">
</div>

<div class="form-group">
    <label for="confirmSenha">Confirme seu Email:</label>
    <input class="form-control" type="email" name="confirmEmail" id="confirmEmail"
        placeholder="Confirme seu email.">
</div>

<div class="form-group">
    <label for="tipoUsuario">Tipo de Usuário:</label>
    <select class="form-control" name="tipo" id="tipo">
        <option>Selecione um tipo de usuário:</option>
        <option value="normal">Candidato</option>
        <option value="adm">Empregador</option>
    </select>
</div>

<button routerLink="/">Cancelar</button>
<button>Cadastrar</button>