
    <div class="bgcinzaclaro container-fluid d-flex justify-content-center">

          <div class="col-md-7 borda d-flex  align-items-center">

            <div class="formulario borda col-md-8 ">

              <h4 class="text-center font-weight-bold roxoescuro">Formulário de edição </h4>


              <div class="form-group-sm ">
                <label class="" for="nomeusuario">Digite seu nome:</label>
                <div class="input-group-text">
                  <i class="fas fa-user rosamagenta"></i>
                  <input [(ngModel)]='usuario.nomeusuario' class="form-control input" type="text" name="nomeusuario"
                    id="nomeusuario" placeholder="Digite seu nome.">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="DataNascimento">Data de nascimento:</label>
                <input [(ngModel)]='usuario.datanascimento' class="form-control input my-1 " type="date" name="dataNasc"
                  id="dataNasc" placeholder="Digite seu usuário.">
              </div>

              <div class="form-group-sm">
                <label class="" for="genero">Pronomes (opcional):</label>
                <div class="input-group-text" id="genero" for="genero">
                  <i class="fas fa-comments rosamagenta" id="genero" for="genero"></i>
                  <input [(ngModel)]='usuario.genero' class="form-control input" type="text" name="genero" id="genero"
                    placeholder="Digite seus pronomes">
                </div>
              </div>

              <!--NÃO ESQUECER DE COLOCAR O CAMPO IMAGEM COM O JPG PADRÃO NO INPUT-->
              <div class="form-group-sm">
                <label class="" for="confirmSenha">Link da sua foto de perfil:</label>
                <div class="input-group-text">
                  <i class="fas fa-headset rosamagenta"></i>
                  <input [(ngModel)]='usuario.foto' class="form-control input" type="text" name="foto" id="foto"
                    placeholder="Link do seu perfil Github + '.png'">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="email">Email</label>
                <div class="input-group-text">
                  <i class="fas fa-at rosamagenta"></i>
                  <input class="form-control input my-1 self-align-center " type="email" name="Email" id="Email"
                    placeholder="Digite seu email">
                </div>

              </div>

              <div class="form-group-sm">
                <label class="" for="confirmSenha">Confirme seu Email:</label>
                <div class="input-group-text">
                  <i class="fas fa-at rosamagenta"></i>
                  <input [(ngModel)]='usuario.email' class="form-control input" type="email" name="confirmEmail"
                    id="confirmEmail" placeholder="Confirme seu email.">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="usuario">Senha:</label>
                <div class="input-group-text">
                  <i class="fas fa-key rosamagenta"></i>
                  <input (input)='confirmSenha($event)' class="form-control input" type="password" name="senha" id="senha"
                    placeholder="Digite sua senha.">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="confirmSenha">Confirme sua senha:</label>
                <div class="input-group-text">
                  <i class="fas fa-key rosamagenta"></i>
                  <input [(ngModel)]='usuario.senha' class="form-control input" type="password" name="confirmSenha"
                    id="confirmSenha" placeholder="Confirme sua senha.">
                </div>
              </div>
              <div class="d-flex justify-content-center borda">
                <button class="btn btncancel" routerLink='/entrar'>Cancelar</button>
                <button class="btn btnsucess" type="submit" (click)='atualizar()'>Atualizar</button>
              </div>


            </div>
        </div>
