<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg">
        </div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">

                <div class="col-md-10">
                    <h1 class="text-center">Atualizar Cadastro</h1>

                    <div class="form-group ">
                        <label for="nome">Digite seu nome:</label>
                        <input [(ngModel)]='usuario.nomeusuario' class="form-control" type="text" name="nome" id="nome"
                            placeholder="Digite o seu nome ">
                    </div>

                    <div class="form-group">
                        <label for="DataNascimento">Data de nascimento:</label>
                        <input [(ngModel)]='usuario.datanascimento' class="form-control" type="date" name="dataNasc"
                            id="dataNasc" placeholder="Digite a sua data de nascimento.">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]='usuario.email' class="form-control" type="email" name="Email" id="Email" placeholder="Digite seu email">
                    </div>
                    <!--NÃO ESQUECER DE COLOCAR O CAMPO IMAGEM COM O JPG PADRÃO NO INPUT-->
                    <!-- <div class="form-group">
                        <label for="confirmSenha">Confirme seu Email:</label>
                        <input [(ngModel)]='usuario.email' class="form-control" type="email" name="confirmEmail"
                            id="confirmEmail" placeholder="Confirme seu email.">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Senha:</label>
                        <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
                            placeholder="Digite seu usuário.">
                    </div>

                    <div class="form-group">
                        <label for="confirmSenha">Confirme sua senha:</label>
                        <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha." >
                    </div>

                    <div class="form-group">
                        <label for="tipoUsuario">Tipo de Usuário:</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)' >
                            <option>Selecione um tipo de usuário:</option>
                            <option value="candidato">Candidato</option>
                            <option value="empregador">Empregador</option>
                        </select>
                    </div>
                    <button class="btn btn-danger me-4" routerLink='/start'>Cancelar</button>
                    <button type="submit" class="btn btn-success" (click)='atualizar()'>Atualizar</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Box de Cadastro com botoes de editar usuario -->
    <div class="background container-fluid d-flex justify-content-center">

        <!-- <div class="row d-flex ">
          <div class="col-sm-4 boxhome mx-4">
            <div class="row d-flex justify-content-center textinho">

              <div class="col-md-10 py-3 self-align-center justify-content-center">
                <h5 class="text-center roxoclaro">Editar Usuário</h5>
                <div>

                </div>

                <div class="form-group-sm">
                  <label for="tipoUsuario textinho">Tipo de Usuário:</label>
                  <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                    <option class="">Selecione um tipo de usuário:</option>
                    <option value="candidato">Candidato</option>
                    <option value="empregador">Empregador</option>
                  </select>
                </div>
                <div class="form-group-sm ">
                  <label class="invisible" for="nomeusuario">Digite seu nome:</label>
                  <input [(ngModel)]='usuario.nomeusuario' class="form-control input my-1" type="text" name="nomeusuario"
                    id="nomeusuario" placeholder="Digite seu nome.">
                </div>

                <div class="form-group-sm">
                  <label class="invisible" for="DataNascimento">Data de nascimento:</label>
                  <input [(ngModel)]='usuario.datanascimento' class="form-control input my-1" type="date" name="dataNasc"
                    id="dataNasc" placeholder="Digite seu usuário.">
                </div>

                <div class="form-group-sm">
                  <label class="invisible" for="email">Email</label>
                  <input class="form-control input my-1 self-align-center " type="email" name="Email" id="Email"
                    placeholder="Digite seu email">
                </div>

                <div class="form-group-sm">
                  <label class="invisible" for="confirmSenha">Confirme seu Email:</label>
                  <input [(ngModel)]='usuario.email' class="form-control input" type="email" name="confirmEmail"
                    id="confirmEmail" placeholder="Confirme seu email.">
                </div>

                <div class="form-group-sm">
                  <label class="invisible" for="usuario">Senha:</label>
                  <input (input)='confirmSenha($event)' class="form-control input" type="password" name="senha" id="senha"
                    placeholder="Digite sua senha.">
                </div>

                <div class="form-group-sm">
                  <label class="invisible" for="confirmSenha">Confirme sua senha:</label>
                  <input [(ngModel)]='usuario.senha' class="form-control input" type="password" name="confirmSenha"
                    id="confirmSenha" placeholder="Confirme sua senha.">
                </div>

                <button class="btn btncancel me-4" routerLink='/start'>Cancelar</button>
                <button type="submit" class="btn btnsucess" (click)='atualizar()'>Atualizar</button>
              </div>
            </div>
          </div>-->
          <div class="col-md-7 borda d-flex  align-items-center">

            <div class="formulario borda col-md-8 ">

              <h4 class="text-center font-weight-bold roxoescuro">Cadastro</h4>

              <!-- Botão tipo de usuario -->
              <div class="row borda text-center d-flex justify-content-center">
                <label class="rosamagenta font-weight-bold text-center" for="tipoUsuario">Selecione seu tipo de
                  usuário:</label>
              </div>
              <div class="row d-flex borda align-itens-center justify-content-around">

                <!-- Empregador -->
                <div class="col-3 justify-content-center borda">

                  <label class="btntipouser  d-flex" for="empregador">
                    <input type="radio" id='empregador' name="tipoUsuario" value="empregador" (change)='tipoUser($event)'>
                    <i class="fas fa-briefcase"></i>
                  </label>
                  <label class="  d-flex" id="empregador" for="empregador">
                    <small class="textinho font-weight-bold  borda">Empregador</small></label>

                </div>
                <!-- Candidato -->
                <div class="col-3 justify-content-center  borda ">

                  <label class="btntipouser d-flex" for="candidato">
                    <input type="radio" id='candidato' name="tipoUsuario" value="candidato" class=""
                      (change)='tipoUser($event)'>
                    <i class="fas fa-code"></i>
                  </label>

                  <label id="candidato" class=" borda d-flex" for="candidato"><small
                      class="textinho font-weight-bold ">Candidato</small></label>
                </div>
              </div>

              <div class="form-group-sm ">
                <label class="" for="nomeusuario">Digite seu nome:</label>
                <div class="input-group-text">
                  <i class="fas fa-user rosamagenta"></i>
                  <input [(ngModel)]='usuario.nomeusuario' class="form-control input" type="text" name="nomeusuario"
                    id="nomeusuario" placeholder="Digite seu nome.">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="DataNascimento">Data de nascimento:</label>
                <input [(ngModel)]='usuario.datanascimento' class="form-control input my-1 " type="date" name="dataNasc"
                  id="dataNasc" placeholder="Digite seu usuário.">
              </div>

              <div class="form-group-sm">
                <label class="" for="genero">Pronomes (opcional):</label>
                <div class="input-group-text" id="genero" for="genero">
                  <i class="fas fa-comments rosamagenta" id="genero" for="genero"></i>
                  <input [(ngModel)]='usuario.genero' class="form-control input" type="text" name="genero" id="genero"
                    placeholder="Digite seus pronomes">
                </div>
              </div>

              <!--NÃO ESQUECER DE COLOCAR O CAMPO IMAGEM COM O JPG PADRÃO NO INPUT-->
              <div class="form-group-sm">
                <label class="" for="confirmSenha">Link da sua foto de perfil:</label>
                <div class="input-group-text">
                  <i class="fas fa-headset rosamagenta"></i>
                  <input [(ngModel)]='usuario.foto' class="form-control input" type="text" name="foto" id="foto"
                    placeholder="Link do seu perfil Github + '.png'">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="email">Email</label>
                <div class="input-group-text">
                  <i class="fas fa-at rosamagenta"></i>
                  <input class="form-control input my-1 self-align-center " type="email" name="Email" id="Email"
                    placeholder="Digite seu email">
                </div>

              </div>

              <div class="form-group-sm">
                <label class="" for="confirmSenha">Confirme seu Email:</label>
                <div class="input-group-text">
                  <i class="fas fa-at rosamagenta"></i>
                  <input [(ngModel)]='usuario.email' class="form-control input" type="email" name="confirmEmail"
                    id="confirmEmail" placeholder="Confirme seu email.">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="usuario">Senha:</label>
                <div class="input-group-text">
                  <i class="fas fa-key rosamagenta"></i>
                  <input (input)='confirmSenha($event)' class="form-control input" type="password" name="senha" id="senha"
                    placeholder="Digite sua senha.">
                </div>
              </div>

              <div class="form-group-sm">
                <label class="" for="confirmSenha">Confirme sua senha:</label>
                <div class="input-group-text">
                  <i class="fas fa-key rosamagenta"></i>
                  <input [(ngModel)]='usuario.senha' class="form-control input" type="password" name="confirmSenha"
                    id="confirmSenha" placeholder="Confirme sua senha.">
                </div>
              </div>
              <div class="d-flex justify-content-center borda">
                <button class="btn btncancel" routerLink='/entrar'>Cancelar</button>
                <button class="btn btnsucess" type="submit" (click)='atualizar()'>Atualizar</button>
              </div>


            </div>
        </div>
