
  .formulario {
    margin: 3% 20%;
    padding: 5%;
    border-radius: 50px;
    background-color: #fff;
  }

  .background {
    height: 100%;
    width: 100%;
    background-color: #fdef74;

  }

  .wavebottom {
    position: absolute;
    left: 0;
    bottom: -33vh;
    right: 0;
    background-color: #fdef74;
  }


  .textinho {
    font-size: 0.7em;
  }


 


  
