/* body {
  padding: 0;
  margin: 0;
}


.input {
  position: relative;
  display: inline-block;
  border: none;
  border-bottom: 0.15rem solid #700A94;
  border-radius: 0;
  width: 90%;
  height: 38px;
}

.input:focus,
select:focus,
.form-group-sm:focus {

  outline: 0 !important;
  border-radius: 5px !important;
  -webkit-transition: width 0.4s ease !important;
  transition: width 0.4s ease !important;
  box-shadow: 0 0 0 0.2rem rgba(249, 26, 108, 0.25) !important;
}

.input:hover {
  border-color: #F91A6A !important;
  transition: width 0.4s step-end !important;
}

.btntipouser {
  border: 0.2rem solid #700A94;
  background-color: #fff;
  padding: 4px;
  margin: 2%;
  border-radius: 12px;
}

.btnsucess {

  background-color: #700A94;
  padding: 8px 6pxn 8px 6px;
  margin: 5%;
  border-radius: 25px;
  color: #fff;
}

.btncancel {

  background-color: #F91A6A;
  padding: 8px 6pxn 8px 6px;
  margin: 5%;
  border-radius: 25px;
  color: #fff;
}

.btntipouser:hover {
  background: none;
  border: 0.2rem solid #FF74E3;
  text-shadow: darkblue;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #FDEF74;
}

.fa-briefcase {
  font-size: 30pt;
  color: #F91A6A;
}

.fa-briefcase:hover {
  background: none;
  color: #FF74E3;

}



.boxhome {
  position: absolute;
  width: 430px;
  height: 750px;
  right: 4%;
  top: 5%;
  background-color: #FFFFFF;
  border-radius: 50px;
  z-index: 1000;
  max-height: 98vh;

}

.textinho {
  font-size: 0.70em;
} */
/* ----------------------- */

/*
  Antiga imagem em fundo
   #img-bg{
      background-image: url('/assets/imgs/cadastrar/Programmer-cuate-1.png');
       height: 100vh;
      min-height: 695px;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1000;
  }  */
  .formulario {
    margin: 3% 20%;
    padding: 2%;
    border-radius: 50px;
    background-color: #fff;
  }

  /* .borda{
    border: 3px solid red;
  } */

  .btntipouser {
    /* border: 0.25rem solid #700A94; */
    padding: 10px 2px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    justify-content: center;
  }

  /* .btntipouser:hover{
    background: transparent;
    border: 0.25rem solid #c677da;
  } */

  .background {
    height: 100%;
    width: 100%;
    background-color: #fdef74;

  }

  .fa-briefcase {
    font-size: 26pt;
    padding: 4px 3px;
    color: #f91a6a;

    border: 0.35rem solid #700a94;
    border-radius: 5px !important;
  }
  .fa-briefcase:hover {
    background: none;
    color: #ff74e3;
    border: 0.35rem solid #6f0a9480;
    border-radius: 5px !important;
  }

  .fa-code {
    font-size: 24pt;
    padding: 4px 0px;
    color: #f91a6a;
    border: 0.35rem solid #700a94;
    border-radius: 5px !important;
  }
  .fa-code:hover {
    background: none;
    color: #ff74e3;
    border: 0.35rem solid #6f0a9480;
    border-radius: 5px !important;
  }
   /* .wavebottom {
  position: relative;
    bottom: 0;
    left: 0;
    background-color: #fdef74;
  } */
  .wavebottom {
    position: absolute;
    left: 0;
    bottom: -33vh;
    right: 0;
    background-color: #fdef74;
  }
  /* .wavebottom2 {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .wavetop {
    position: absolute;
    top: 0;
    left: 0;
  } */ */

  /* .imgsize {
    width: 200%;
    /* height: auto;
  } */

  .textinho {
    font-size: 0.7em;
  }

  /* esconder o radio de forma responsiva */
  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* p pegar clique no icon*/
  [type="radio"] + i {
    cursor: pointer;
  }

  /* Pós clique*/
  [type="radio"]:checked + i {
    background-color: #700a94;
    /* outline:  0.6rem solid #700A94  ; */
  }


  
