<div class="container bg-info d-flex flex-column justify-content-center w-25 align-items-center  vh-100">
    <h1>Entrar</h1>

    <form action="" class="d-flex flex-column">
      <label for="email">Email</label>
      <input [(ngModel)]='usuarioLogin.email' type="text">

      <label for="">Senha</label>
      <input [(ngModel)]='usuarioLogin.senha' type="password">

      <button>Entrar</button>

      <p>Caso não tenha cadastro<a routerLink='/cadastrar'>Cadastre-se</a></p>
    </form>
  </div>
