body {
  padding: 0;
  margin: 0;
}
.background {
  height: 100vh;
  background-color: #FDEF74;
  width: 100vw;
}


.bolha{
  background-image: url(../../assets/imgs/logo/bolha.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 110%;
  height: 110%;
}

.imgsize {
  width: 500px;
  height: auto;
}

.boxhome {
  width: 120%;
  height: 150%;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50px;
  z-index: 1000;
}

.textinho {
  font-size: 0.9em;
}
