body {
  padding: 0;
  margin: 0;
}

.background {
  height: 100vh;
  background-color: #FDEF74;
  width: 100vw;
}

.select-a1 {
  color: #700A94 !important;
}

.select-a1:hover {
  text-decoration: none !important;
  color: #F91A6A !important;
}


.select-a2 {

  color: #F91A6A !important;
}

.select-a2:hover {
  text-decoration: none;
  color: #700A94 !important;
}

.select-a1:focus,
.select-a2:focus {
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 0 0.2rem rgba(249, 26, 108, 0.575) !important;
}


.bolha {
  background-image: url(../../assets/imgs/logo/bolha.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 110%;
  height: 110%;
}

.imgsize {
  width: 500px;
  height: auto;
}

.boxhome {
  width: 120%;
  height: 150%;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50px;
  z-index: 1000;
}

.textinho {
  font-size: 0.9em;
}

.ent:hover{
opacity: 0.8;
}
