/* You can add global styles to this file, and also import other style files */
/* Fontes */
html{
    font-family: 'Rubik', sans-serif, Verdana, sans-serif;
}
p{
    font-family: 'Roboto', sans-serif, Verdana, sans-serif;
}
span{
    font-family: 'Roboto', sans-serif, Verdana, sans-serif;
}

/* Cores de texto */
.rosamagenta{
    color: #F91A6A;
}
.offrosa{
    color: #FFE9F1;
}
.rosaclaro {
    color: #FF9DF5;
}
.rosaescuro {
    color:#FF74E3;
}
.roxoclaro {
    color: #820A97;
}
.roxoescuro {
    color: #700A94;
}
.azulescuro {
    color: #3E0685;
}
.salmao {
    color: #FF7B7B;
}
.amareloclaro {
    color: #FDEF74;

























}
.verdeclaro {
    color: #C9FFC5;
}
.verdeescuro{
    color: #88FF7D;
}
.cinzaclaro{
    color: #D6D8E5;
}

/* Cores de fundo */

.bgrosamagenta{
    background-color: #F91A6A;
}
.bgoffrosa{
    background-color: #FFE9F1;
}
.bgrosaclaro {
    background-color: #FF9DF5 !important;
}
.bgrosaescuro {
    background-color:#FF74E3 !important;
}
.bgroxoclaro {
    background-color: #820A97;
}
.bgroxoescuro {
    background-color: #700A94;
}
.bgazulescuro {
    background-color: #3E0685;
}
.bgsalmao {
    background-color: #FF7B7B !important;
}
.bgamareloclaro {
    background-color: #FDEF74;
}
.bgverdeclaro {
    background-color: #C9FFC5;
}
/* .bgrodape{
  background-color: #5000CA;
} */
.bgverdeescuro{
    background-color: #88FF7D !important;
}
.bgcinzaclaro{
    background-color: #D6D8E5;
}
.bgbrancofeed{
  background-color: #F6F5F5;
}

/* fontes */
.fsRubik{
  font-family:Rubik;
}
.fs25{
font-family: Rubik;
font-size: 26px;
color: #000000;
}

.wavebottom {
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 80%; */
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}
.wavetop {
  /* background-image: url(../../assets/imgs/logo/wavetop.svg); */
  /* background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  height: 100vh; */
  position: absolute;
  top:0;
  left:0;
  right:0;
}
