<nav class="navbar navbar-expand-lg navbar-light bg-light rubik">

  <a class="navbar-brand" href="#"><img class="pr-1"
      src="https://media.discordapp.net/attachments/854719200618217523/878310655843794944/unknown.png" alt="logo"
      width="60"><span class=" font-weight-bold fs12 rosamagenta">query</span> <span
      class=" font-weight-bold fs12 roxoclaro">Jobs</span></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0 align-items-center">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="btn entrar" href="#/entrar"> entrar</a>
      </li>
    </ul>

  </div>

</nav>

<div class="back circulo1 ">
  <div class="circulo2">
    <div class="container ">
      <div class=" pt-5 row row-cols-2 justify-content-start">
        <div class="d-flex p-1 col-7">
          <img class="pessoa" src="https://i.imgur.com/vcMiLsv.png" alt="imagem de uma pessoa apontando">
          <img class="card1" src="https://i.imgur.com/1Moui3Z.png" alt="card nome da pessoa ">
        </div>
        <div class="d-flex col-5 align-items-center ">
          <p class="text1 ">Seja para encontrar vagas ou pessoas o emprego que você busca está aqui!</p>
        </div>
      </div>
      <div class="d-flex flex-column bd-highlight mb-3 justify-content-end">
        <div class="d-flex  justify-content-end">
          <img class="card2" src="https://i.imgur.com/DkDqeOh.png" alt="card titulo da vaga ">
        </div>

      </div>
    </div>
    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#FF74E3" fill-opacity="1"
        d="M0,64L48,85.3C96,107,192,149,288,154.7C384,160,480,128,576,122.7C672,117,768,139,864,170.7C960,203,1056,245,1152,218.7C1248,192,1344,96,1392,48L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
</div>

<div class="back">
  <div class="absolute backgroundRosa">
    <div class="container ">
      <div class=" row row-cols-2 justify-content-center align-items-start">
        <p class="text2">Nós da QueryJobs buscamos agilizar a conexão entre contratados e empregadores, criando cada vez
          mais
          oportunidades de trabalho.</p>
        <img class="" src="https://i.imgur.com/ZfzPklH.png" alt="imagem de uma pessoa escrevendo">
      </div>
    </div>
    <div class="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#700A94" fill-opacity="1"
          d="M0,128L48,122.7C96,117,192,107,288,112C384,117,480,139,576,170.7C672,203,768,245,864,272C960,299,1056,309,1152,272C1248,235,1344,149,1392,106.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
      </svg>
    </div>
  </div>
</div>

<div class="absolute backgroundRoxo">
  <div class="container">
    <div class="row row-cols-2 justify-content-center align-items-start">
      <img class="" src="https://i.imgur.com/YT18hj2.png" alt="imagem de duas pessoas se cumprimentando">
      <p class="text3">O salário direto no anúncio da vaga, tags que facilitam a pesquisa, perfis intuitivos para
        usuários e
        empresas, parcerias de empregabilidade e um sistema de avaliação de usuários e empregadores. Nós temos tudo isso
        ;)
      </p>
    </div>
  </div>
</div>
<div class="absolute">
  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#700A94" fill-opacity="1"
      d="M0,224L48,202.7C96,181,192,139,288,144C384,149,480,203,576,213.3C672,224,768,192,864,202.7C960,213,1056,267,1152,277.3C1248,288,1344,256,1392,240L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
  </svg>
  <div class="container">
    <p class="pt-3 titles text-center"> Parceiros</p>

    <div class="row  row-cols-3 justify-content-center">
      <div class="col text-center"><img class="parcerias" href="https://brasil.generation.org"
          src="https://cdn.discordapp.com/attachments/854719200618217523/878395406403375175/unknown.png"></div>
      <div class="col text-center"><img class="parcerias"
          src="https://cdn.discordapp.com/attachments/854719200618217523/878395406403375175/unknown.png"></div>
      <div class="col text-center"><img class="parcerias"
          src="https://cdn.discordapp.com/attachments/854719200618217523/878395406403375175/unknown.png"></div>
      <div class="col pt-3 text-center"><img class="parcerias"
          src="https://cdn.discordapp.com/attachments/854719200618217523/878395406403375175/unknown.png"></div>
      <div class="col pt-3 text-center"><img class="parcerias"
          src="https://cdn.discordapp.com/attachments/854719200618217523/878395406403375175/unknown.png"></div>
      <div class="col pt-3 text-center"><img class="parcerias"
          src="https://cdn.discordapp.com/attachments/854719200618217523/878395406403375175/unknown.png"></div>
    </div>

  </div>
</div>
<br>

<div class="accordion" id="accordionExample">
  <div class="container">
    <p class=" pt-5 titles text-center">Nossa equipe</p>
    <div class="row row-cols-5 justify-content-center align-items-start">

      <div class="col pt-3 text-center">

        <div class="feed-icon px-2 social-action pull-right">
          <button class=" btn bgroxoclaro btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne">
            <div class="col-3 d-flex flex-column justify-content-center">
              <img class="rounded-circle" src="https://github.com/blendagaspar.png" width="150" height="150">
            </div>
            <span class=" font-weight-bold fs12 rosamagenta nomeEq1">Blenda</span>
            <span class=" font-weight-bold fs12 roxoclaro nomeEq2"> Gaspar</span>
          </button>
          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body text-left">
              26 anos , formada em engenharia de produção pelo Mackenzie e enxergo na tecnologia um gerador de valor na
              minha carreira.<br>
              <a href="https://www.linkedin.com/in/blenda-gaspar-175528162/" target="_blank"><img
                  src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                  target="_blank"></a><a href="https://github.com/blendagaspar" target="_blank"><img
                  src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                  target="_blank"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col pt-3 text-center">

        <div class="feed-icon px-2 social-action pull-right">
          <button class=" btn bgroxoclaro btn-lg  " type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapsetwo">
            <div class="col-3 d-flex flex-column justify-content-center">
              <img class="rounded-circle"
                src="https://cdn.discordapp.com/attachments/861610619568259092/879044228645277736/eu2.jpg" width="150"
                height="150">
            </div>
            <span class=" font-weight-bold fs12 rosamagenta nomeEq1">Délis</span>
            <span class=" font-weight-bold fs12 roxoclaro nomeEq2"> Edwirges</span>
          </button>

          <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body text-left">
              Cursando meu último ano de Design, sou uma pessoa inusitada e divertida. Busco sempre dar o melhor de mim!
              Me apaixonei pela tecnologia e pela arte de conceituar: busco visualizar os cenários de formas diferentes,
              focando sempre em criar mais engajamento!
              Desenhos, músicas, ilustrações e bichinhos são meu porto seguro.
              <a href="https://www.linkedin.com/in/delis-edwirges/" target="_blank">
                <img
                  src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                  target="_blank"></a>
              <a href="https://github.com/delis-edwirges" target="_blank">
                <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                  target="_blank"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col pt-3 text-center">

        <div class="feed-icon px-2 social-action text-center">
          <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree" class=" btn bgroxoclaro btn-lg  ">
            <div class="col-3 d-flex flex-column justify-content-center">
              <img class="rounded-circle" src="https://github.com/Edgard-Maximo.png" width="150" height="150">
            </div>
            <span class=" font-weight-bold fs12 rosamagenta nomeEq1">Edgard</span>
            <span class=" font-weight-bold fs12 roxoclaro nomeEq2"> Máximo</span>
          </button>
          <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body text-left">
              Olá, tenho 18 anos e amo tecnologia. Estou em busca de uma oportunidade profissional de aprendizado e
              trabalho. Sou proativo, gosto de trabalhar em grupo e tenho boa comunicação.<br>
              <a href="https://www.linkedin.com/in/edgard-maximo-2684a3202/" target="_blank"><img
                  src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                  target="_blank"></a><a href="https://github.com/Edgard-Maximo" target="_blank"><img
                  src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                  target="_blank"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col pt-3 text-center">
        <!-- <img class="fotoEquipe" src="../../assets/imgs/imagensdahome/equipe/Joao"> -->

        <div class="feed-icon px-2 social-action  ">
          <button data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour"
            class=" btn bgroxoclaro btn-lg text-center ">
            <div class="col-3 d-flex flex-column justify-content-center">
              <img class="rounded-circle" src="https://github.com/JLirio.png" width="150" height="150">
            </div>
            <span class=" font-weight-bold fs12 rosamagenta nomeEq1">João</span>
            <span class=" font-weight-bold fs12 roxoclaro nomeEq2"> Lírio</span>
          </button>
          <div id="collapsefour" class="collapse " aria-labelledby="headingfour" data-parent="#accordionExample">
            <div class="card-body text-left ">
              Tenho 20 anos e estou no terceiro semestre de Ciência da computação. Comecei a programar no meu ensino
              médio, e tenho experiência na área como desenvolvedor web. Sou comunicativo e amo xadrez.<br>
              <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-l%C3%ADrio-leme-068067178" target="_blank"><img
                  src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                  target="_blank"></a><a href="https://github.com/JLirio" target="_blank"><img
                  src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                  target="_blank"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col pt-3 text-center">

        <div class="feed-icon px-2 social-action ">
          <button data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"
            class=" btn bgroxoclaro btn-lg  text-center ">
            <div class="col-3 d-flex flex-column justify-content-center">
              <img class="rounded-circle" src="https://github.com/kaique-mota.png" width="150" height="150">
            </div>
            <span class=" font-weight-bold fs12 rosamagenta nomeEq1">Kaique</span>
            <span class=" font-weight-bold fs12 roxoclaro nomeEq2"> Mota</span>
          </button>
          <div id="collapsefive" class="collapse " aria-labelledby="headingThfive" data-parent="#accordionExample">
            <div class="card-body text-left">
              Olá, sou formado em serviços jurídicos e atuei por 2 anos e meio no setor administrativo de uma empresa do ramo
              varejista. Atualmente estou buscando uma transição de carreira para o mercado de tecnologia, o qual tenho
              muito a contribuir com meus conhecimentos e a experiência que adquiri na prática com o Bootcamp da
              Generation Brasil.
              <a href="https://www.linkedin.com/in/kaique-mota/" target="_blank"><img href=""
                  src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                  target="_blank"></a>
              <a href="https://github.com/kaique-mota" target="_blank">
                <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                  target="_blank"></a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container pt-5 pb-5">
  <p class=" pt-5 titles text-center">Ferramentas utilizadas para a construção do site.</p>
  <div class="row-cols-7 row justify-content-center align-items-start">
    <div class="col-1">
      <img alt="Js" height="50" width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
    </div>

    <div class="col-1">
      <img alt="HTML" height="50" width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
    </div>

    <div class="col-1">
      <img alt="CSS" height="50" width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
    </div>

    <div class="col-1">
      <img alt="Bootstrap" height="50" width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain.svg">
    </div>

    <div class="col-1">
      <img alt="Spring" height="50" width="60"
        src="https:////raw.githubusercontent.com/devicons/devicon/master/icons/spring/spring-original.svg">
    </div>
  </div>
</div>

<!--Rodapé-->

<footer class="page-footer font-small bgrosaclaro pt-4 ">

  <svg class="ondaFooter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#5000ca" fill-opacity="0.8"
      d="M0,288L80,282.7C160,277,320,267,480,240C640,213,800,171,960,160C1120,149,1280,171,1360,181.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
    </path>
  </svg>
  <div class="footer-copyrigth bgazulescuro text-center opacidade">
    <span class="text-light">© 2021 Copyright: </span>
    <a class="text-light" target="_blank" href="https://github.com/ProjetoIntregador">queryJobs</a>
  </div>
</footer>
