/* CSS Nav Bar */


.fs12 {
  font-size: 1.3rem;
}

.back {
  width: 100%;
  height: 100%;
  background-color: #fdef74;

}

.backgroundRosa {
  width: 100%;
  height: 100%;
  background-color: #ff74e3;
}

.backgroundRoxo {
  background-color: #700a94;
}

.pessoa {
  margin-top: 2%;
}

.card1 {
  width: 60%;
}

.card2 {
  width: 45%;
}

.text1 {
  font-family:'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36pt;
  line-height: 2.8rem;
  text-align: justify;
  color: #700a94;
}
.text2 {
  padding-top: 4%;
  padding-right: 6%;
  padding-left: 4%;
  font-family: 'Rubik' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26pt;
  line-height: 2.8rem;
  text-align: justify;
  color: #820a97;
  margin: 0%;

}
.text3 {
  padding-top: 8%;
  padding-left: 4%;
  font-family:'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28pt;
  line-height: 2.6rem;
  text-align: justify;
  color: #FFE9F1;
}

.titles {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34pt;
  line-height: 3rem;
  color: #700a94;
}

.entrar {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #f91a6a !important;
}
 a .entrar:hover {
  text-decoration: none;
  color: #700A94;
}
.entrar:focus {
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 0 0.2rem rgba(249, 26, 108, 0.459) !important;
}


.parcerias {
  width: 70%;
  text-align: center;
}

.circulo1 {
  background-image: url(../../assets/imgs/imagensdahome/circulo1.png);
  background-repeat: no-repeat;
}

.circulo2 {
  background-position: top right;
  background-image: url(../../assets/imgs/imagensdahome/circulo2.png);
  background-repeat: no-repeat;
}

.parceiros {
  position: absolute;
  width: 1177px;
  height: 225px;
  left: 140px;
  top: 2654px;
}

.onda3 {
  position: relative;
  bottom: 0;
  left: 0;
}

.back4 {
  position: absolute;
  width: 1500px;
  height: 370px;
  left: 0px;
  top: 1261px;
}
/* 
.fotoEquipe {
  width: 70%;
} */

/* Rodapé */

footer {


}



.ondaFooter {
  position: relative;
  bottom: 0;
  background-image: url(../../assets/imgs/imagensdahome/logoComLetra);
  background-repeat: no-repeat;
  background-position: left;

}

.opacidade {
  opacity: 0.80;
}

.ferramenta {
  height: "50" !important;
  width: "500%" !important;
}

/* .github {
  height: 200%;
}

.github:hover:not(.active) {
  background-color: #f91a6a;
} */
.nomeEq1:hover{
 color:#820A97;
}
.nomeEq2:hover{
  color:#F91A6A;
 }
 .rounded-circle:hover{
   opacity: 0.8;
   
 }

