<div container-fluid>

<nav class="navbar navbar-expand-lg navbar-light q menuhome">
      <div class="container-fluid">
        <img src="https://i.imgur.com/XhOqE73.png">
        <p class="q"> olaola</p>
        <img src="https://i.imgur.com/funP3y0.png">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          
          <a class=" entrar" routerLink='/entrar'> entrar</a>  <!--add o router link certo-->
        </div>
      </div>
    </nav>
    
       <div class="back">
      <img class="pessoa  " src="https://i.imgur.com/vcMiLsv.png" alt="imagem de uma pessoa apontando">
      <img class="card1" src="https://i.imgur.com/1Moui3Z.png" alt="card nome da pessoa ">
      <img class="card2" src="https://i.imgur.com/DkDqeOh.png" alt="card titulo da vaga "> 
      <p class="text1">Seja para encontrar vagas ou pessoas o emprego que você busca está aqui!</p>
     </div>

      <img class="foto1" src="https://i.imgur.com/ZfzPklH.png" alt="imagem de uma pessoa escrevendo">
      <img class="back4" src="https://i.imgur.com/bM7CM32.png">

      <img class="circulo1" src="https://i.imgur.com/ZjSDC5r.png" alt="circulo rosa"> 
      <img class="circulo2" src="https://i.imgur.com/fdC5Oe8.png" alt="circulo rosa"> 
      <img class="onda1" src="https://i.imgur.com/kcwpYRK.png" alt="imagem de uma onda">
      
      <div class="back5">
      
    </div>
     <p class="text2">Nós da QueryJobs buscamos agilizar a conexão entre contratados e empregadores, criando cada vez mais oportunidades de trabalho.</p>
     <img class="foto1" src="https://i.imgur.com/ZfzPklH.png" alt="imagem de uma pessoa escrevendo">


      <div class="back7"></div>
      <img class="foto3" src="https://i.imgur.com/YT18hj2.png" alt="imagem de duas pessoas se cumprimentando">
      <p class="text3">O salário direto no anúncio da vaga, tags que facilitam a pesquisa, perfis intuitivos para usuários e empresas, parcerias de empregabilidade e um sistema de avaliação de usuários e empregadores. Nós temos tudo isso ;)</p>


     <img class="back3"  src="https://i.imgur.com/WLhPfkx.png">
      <p class="text"> Parceiros</p>
      <img class="parceiros"  src="https://i.imgur.com/oTg4hCt.png" alt="imagem dos parceiros do projeto">

      <p class="text4"> Nossa equipe</p>
      <img class="barra1" src="https://i.imgur.com/ixwNAxj.png" alt="imagem de um separador">
    
 
     <img class="nossa" src="https://i.imgur.com/yQjXk70.png" alt="foto dos criadores do QueryJobs">
   

      <!--Rodapé-->
     <footer class="footer">
      <div>
        <p class="text5"> Copyrigth &copy; Todos os direitos reservados a equipe criadora do projeto queryJobs</p>
        
        
        <a href="https://github.com/ProjetoIntregador" target="_blank" >
          <img class="github" src="https://i.imgur.com/GteOcaS.png" alt="icone do github" >
        </a>
      
      </div>
     </footer>

    </div>